GET     /                     pagesController#index
POST    /admin/employee       adminController#createEmployee
POST    /admin/trip           adminController#createTrip
GET     /admin/trip/{id}      adminController#loadTrip
GET     /admin/trip           adminController#listTrips


POST    /trip/{id}/expense tripsController#addExpense
GET     /trip/{id}      tripsController#load
PUT     /trip/{id}      tripsController#endTrip
