GET     /                     pagesController#index
GEt     /home                 pagesController#home
POST    /login                pagesController#login
POST    /admin/employee       adminController#createEmployee
GET     /admin/employee       adminController#listEmployees
POST    /admin/trip           adminController#createTrip
GET     /admin/trip/{id}      adminController#loadTrip
GET     /admin/trip           adminController#listTrips
GET     /admin/expense       adminController#groupExpenses
GET     /admin/trip/new/form  adminController#newTrip
GET     /admin/employee/new/form  adminController#newEmployee


GET     /trip              tripsController#list
POST    /trip/{id}/expense tripsController#addExpense
GET     /trip/{id}      tripsController#load
PUT     /trip/{id}      tripsController#endTrip
